body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.spinner{
    visibility: hidden;
    height: 150px;
    width: 150px;
    border-top:5px solid black;
    border:5px solid #3498db transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*.bounce{
    visibility: hidden;
    height: 150px;
    width: 150px;
    border-radius: 50% ;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from{

    }
    to{
        
    }
    
}*/

.Spinbtn{
    position:absolute;
    top: 30%;
}